<!DOCTYPE html>
<html lang="en">
<head>
    <!-- this is html email template  -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://unpkg.com/primeflex@3.1.2/primeflex.css">
    <link rel="stylesheet" href="https://unpkg.com/primeicons/primeicons.css" />
    <link rel="stylesheet" href="https://unpkg.com/primereact/resources/themes/mdc-dark-indigo/theme.css" />
    <link rel="stylesheet" href="https://unpkg.com/primereact/resources/primereact.min.css" />
</head>
<body>
    <div className="surface-0 text-700 text-center">
        <div className="text-900 font-bold text-5xl mb-3">Reset Password</div>
        <div className="text-700 text-2xl mb-5">
            <p>
                Hello, {{name}},
            </p>
            <p>
                Somebody (hopefully you) has requested a password reset for your account.
            </p>
            <p>
                If you did not request this, please ignore this email.
            </p>
            <p>
                To reset your password, please click the button below.
            </p>
        </div>
        <a className="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap" href="{{link}}">
            Reset Password
        </a>
    </div>
</body>
</html>